@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #160042;
    // left: 0;
    // top: 0;
    // position: fixed;
    background-position: center;
    // background-size: cover;
    background-size: 80vw auto;

    background-repeat: no-repeat; /* Display the image once */
    background-position: center; /* Center the image horizontally */

    background-attachment: fixed;
    // width: 100%;
    // height: 100%;
    z-index: 0;
    background-image: url(/shape.png);
    // &:before {
    //     content: ""; /* Add content to avoid collapsing */
    //     position: absolute;
    //     inset: 0; /* Stretches to fill parent element */
    //     background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="); /* Noise background image */
    //     background-repeat: repeat; /* Repeat the noise pattern */
    //     background-size: 50px 50px; /* Adjust noise grain size */
    //     filter: blur(10px); /* Apply blur effect */
    //     opacity: 0.3; /* Adjust background opacity */
    //     z-index: -1; /* Place behind content */
    // }
}

.gradient_text {
    font-size: 55px;
    line-height: 1;
    margin-bottom: 20px;
    text-transform: uppercase;
    background: linear-gradient(87.22deg, #c8bdff -1.82%, #baa6ff 5.99%, #6721ff 50.47%, #00cbff 113.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
